@font-face {
  font-family: "concrete-bold-italic";
  src: url("../fonts/cmu-concrete/cmunobi.ttf") format("truetype");
}

@font-face {
  font-family: "typwriter-regular";
  src: url("../fonts/cmu-typewriter/cmuntt.ttf") format("truetype");
}

* {
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

html {
  cursor: url("../curseur_custom.svg") 10 10, auto;
}

body {
  margin: 0px;
  font-family: "typwriter-regular", serif;
}

header {
  height: 10vh;
  padding-top: 20px;
}

h1 {
  font-family: "concrete-bold-italic", serif;
  font-style: italic;
  z-index: 1;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

nav ul {
  padding: 0px;
}

nav ul li {
  margin: 0px 12px 0px 12px;
  z-index: 1;
}

.nav1 {
  display: flex;
  font-weight: 400;
}

/* .nav2 {
  display: flex;
}

#shop {
  font-weight: bold;
} */

.section {
  margin-bottom: 8px;
}

h4,
h5 {
  font-family: "concrete-bold-italic", serif;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
}

#contact-title {
  color: rgb(132, 91, 255);
}

.info-section ul {
  padding: 0px;
}

.info-section ul li {
  font-size: 12px;
}

/*******************section pricipale (side-infos + display)*********************/

.flex-container {
  display: flex;
  height: 85vh;
  max-width: 98%;
  margin: auto;
}

/*******************Info section*********************/

.info-section {
  display: flex;
  flex-direction: column;
  max-width: 13%;
  margin-right: 25px;
  z-index: 1;
}

/*******************display*********************/

.display {
  display: flex;
  flex-grow: 1; /*le display prend toute la place restante dans le container*/
  border-style: dotted;
  border-color: rgb(132, 91, 255);
}

/**********************accessoires & effets**********************/

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Ajouter une transition de fondu */
}

#tooltip {
  position: absolute;
  max-width: 150px;
  display: none;
  background: white;
  color: black;
  padding: 2px;
  border-radius: 14px;
  border-style: dotted;
  border-width: 1.75px;
  font-size: 14px;
  font-style: italic;
  z-index: 1000;
  pointer-events: none; /* Permet aux événements de la souris de passer à travers le tooltip */
}

img {
  filter: grayscale(0%) invert(0%);
  transition: filter 0.3s ease-in-out;
}

img:hover {
  filter: grayscale(100%) invert(150%) contrast(100%);
}

/**********************Media Queries**********************/

@media (max-width: 700px) {
  header {
    max-height: 7vh;
    padding-top: 12px;
  }

  .flex-nav {
    flex-direction: column;
  }

  .nav1 {

  }

  #about, #xp {
    display: none;
  }

  .flex-container {
    flex-direction: column;
    height: 60vh;
  }

  .display {
    overflow: hidden; 
    position: relative;
    max-width: 98%;
    margin: auto;
  }

  .img-for-mobile {
    object-fit: contain;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    transition: transform 0.3s ease-in-out;
  }

  .info-section {
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #contact-title {
    display: none;
  }

  #contact ul {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
  }
}
