@font-face {
  font-family: "concrete-bold-italic";
  src: url("../fonts/cmu-concrete/cmunobi.ttf") format("truetype");
}

@font-face {
  font-family: "typwriter-regular";
  src: url("../fonts/cmu-typewriter/cmuntt.ttf") format("truetype");
}

* {
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

html {
  cursor: url("../curseur_custom.svg") 10 10, auto;
}

body {
  margin: 0px;
  font-family: "typwriter-regular", serif;
}

header {
  height: 10vh;
  padding-top: 20px;
}

h1 {
  font-family: "concrete-bold-italic", serif;
  font-style: italic;
  z-index: 1;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: auto;
}

nav ul {
  padding: 0px;
}

nav ul li {
  margin: 0px 12px 0px 12px;
  z-index: 1;
}

.nav1 {
  display: flex;
  font-weight: 400;
}

/* .nav2 {
  display: flex;
}

#shop {
  font-weight: bold;
} */

.section {
  margin-bottom: 8px;
}

h4,
h5 {
  font-family: "concrete-bold-italic", serif;
  margin-bottom: 8px;
}

h5 {
  font-size: 15px;
}

#contact-title {
  color: rgb(132, 91, 255);
}

.info-section ul {
  padding: 0px;
}

.info-section ul li {
  font-size: 12px;
}

/*******************section pricipale (side-infos + display)*********************/

.flex-container {
  display: flex;
  height: 85vh;
  max-width: 98%;
  margin: auto;
}

/*******************Info section*********************/

.info-section {
  display: flex;
  flex-direction: column;
  max-width: 13%;
  margin-right: 25px;
  z-index: 1;
}

/*******************display*********************/

.display {
  display: flex;
  flex-grow: 1; /*le display prend toute la place restante dans le container*/
  border-style: dotted;
  border-color: rgb(132, 91, 255);
}

/**********************accessoires & effets**********************/

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out; /* Ajouter une transition de fondu */
}

#tooltip {
  position: absolute;
  max-width: 150px;
  display: none;
  background: white;
  color: black;
  padding: 2px;
  border-radius: 14px;
  border-style: dotted;
  border-width: 1.75px;
  font-size: 14px;
  font-style: italic;
  z-index: 1000;
  pointer-events: none; /* Permet aux événements de la souris de passer à travers le tooltip */
}

img {
  filter: grayscale(0%) invert(0%);
  transition: filter 0.3s ease-in-out;
}

img:hover {
  filter: grayscale(100%) invert(150%) contrast(100%);
}

/**********************Media Queries**********************/

@media (max-width: 1199px) {
  header {
    max-height: 8vh;
    padding-top: 12px;
  }

  #activities {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .flex-nav {
    flex-direction: column;
  }

  #activities{
    margin-left: 1px;
  }

  #about,
  #xp,
  #contact {
    margin-bottom: 18px;
  }

  .flex-container {
    flex-direction: column-reverse;
    height: auto;
  }


  .display {
    overflow: hidden;
    position: relative;
    min-height: 300px;
    height: 40vh;
    width: 96%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .img-for-mobile {
    object-fit: contain;
    height: 100%;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    margin: auto;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    filter: none;
  }

  .description-container {
    max-width: 200px;
    margin: auto;
    margin-bottom: 50px;
    background: white;
    color: black;
    padding: 2px;
    border-radius: 14px;
    border-style: dotted;
    border-width: 1.75px;
    font-size: 14px;
    font-style: italic;
  }

  .info-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 90%;
    margin:auto;
    margin-bottom: 0px;
  }

  #contact ul {
    display: flex;
    flex-direction: column;
  }

  .swipe-left {
    transform: translateX(-100%);
  }
  
  .swipe-right {
    transform: translateX(100%);
  }
}

@media (max-width: 1199px) and (orientation: landscape) {

  .flex-container{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
  }

  .info-section{
    width: 40%;
    margin-top: 0px;
  }

  .image-container{
    width: 60%;
  }

  .display{
    margin-top: 0px;
    height: 50vh;
  }
}
